{% extends "base.html" %}

{% block head_content %}

    <style>

      li {
        list-style: none;
        text-align: center;
      }

      .profile_pic {
        height: 225px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        object-fit: cover;
      }

      .name {
        font-weight: bold;
        font-style: italic;
      }

      .profiles {
        margin-bottom: 32px;
      }
    </style>

{% endblock %}

{% block content %}

    <ul>
      {% for profile in profiles %}
      <div class="profiles"></div>
      <li><img class="profile_pic" src="{{profile.profile_pic}}" /></li>
      <li>Hi, <span class="name">{{profile.name}}</span> 🎉🎉</li>

      {% endfor %}
      </div>
    </ul>

{% endblock %}
